# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [38]:
# Do all imports and installs here
import pandas as pd
import matplotlib as mp
import json

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [49]:
# Read in the data here
airport_codes = pd.read_csv("airport-codes_csv.csv")
print(airport_codes.shape)
airport_codes.sample(3)

(55075, 12)

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
5758,50MO,heliport,Ozarks Medical Center Heliport,1006.0,NaN,US,US-MO,West Plains,50MO,NaN,50MO,"-91.8738021850586, 36.738399505615234"
28151,KMVE,small_airport,Montevideo Chippewa County Airport,1034.0,NaN,US,US-MN,Montevideo,KMVE,NaN,MVE,"-95.710297, 44.969101"
23550,ID-0110,small_airport,Nipsan Airstrip,6000.0,AS,ID,ID-PA,Nipsan,NaN,NaN,NIP,"139.6438, -4.1141"

In [9]:
covid_impact_airports = pd.read_csv("covid_impact_on_airport_traffic.csv")
print(covid_impact_airports.shape)
covid_impact_airports.sample(3)

(5936, 11)

,AggregationMethod,Date,Version,AirportName,PercentOfBaseline,Centroid,City,State,ISO_3166_2,Country,Geography
225,Daily,2020-06-20,1.0,Santiago International Airport,16,POINT(-70.7942372739446 -33.3907265266744),Santiago,Santiago Province,CL,Chile,"POLYGON((-70.8043956756592 -33.3719683869737, ..."
1850,Daily,2020-06-02,1.0,Hamilton International,96,POINT(-79.9266930701955 43.1720360844936),Hamilton,Ontario,CA-ON,Canada,"POLYGON((-79.932746887207 43.1551600161937, -7..."
4492,Daily,2020-08-29,1.0,Newark Liberty International,100,POINT(-74.1751246689879 40.6915033838306),Newark,New Jersey,US-NJ,United States of America (the),"POLYGON((-74.1924333572388 40.6810611095368, -..."

In [10]:
immigration = pd.read_csv("immigration_data_sample.csv")
print(immigration.shape)
print(immigration.sample(3))

(1000, 29)
     Unnamed: 0      cicid   i94yr  i94mon  i94cit  i94res i94port  arrdate  \
292      978127  2013603.0  2016.0     4.0   148.0   112.0     DAL  20555.0
796      760630  1577932.0  2016.0     4.0   117.0   575.0     FTL  20553.0
175     2168753  4406725.0  2016.0     4.0   582.0   582.0     HOU  20567.0

     i94mode i94addr    ...     entdepu  matflag  biryear   dtaddto  gender  \
292      1.0      TX    ...         NaN        M   1962.0  07092016       M
796      1.0      NY    ...         NaN        M   1981.0  07072016       F
175      1.0      CA    ...         NaN        M   1941.0  10222016       M

    insnum airline        admnum  fltno  visatype
292    NaN      BA  5.600753e+10  00193        WT
796    NaN      B6  5.589232e+10  00038        WT
175    NaN      UA  9.434943e+10  01089        B2

[3 rows x 29 columns]

In [43]:
us_demographics = pd.read_csv('us-cities-demographics.csv', sep=';')
print(us_demographics.shape)
us_demographics.sample(3)

(2891, 12)

,City,State,Median Age,Male Population,Female Population,Total Population,Number of Veterans,Foreign-born,Average Household Size,State Code,Race,Count
889,Pleasanton,California,41.3,36662.0,42857.0,79519,2424.0,23208.0,2.87,CA,Hispanic or Latino,7949
1650,Evansville,Indiana,38.0,57198.0,60481.0,117679,9063.0,3169.0,2.25,IN,Black or African-American,17564
795,Gresham,Oregon,36.7,53866.0,56716.0,110582,6326.0,17860.0,2.67,OR,American Indian and Alaska Native,2084

In [29]:
#us_demographics = pd.read_json('us-cities-demographics.json')
#us_demographics.fields = pd.DataFrame(us_demographics.fields.values.tolist())['city']
#us_demographics = us_demographics.groupby(['count', 'city', 'number_of_veterans', 'male_population', 'foreign_born', 'average_houehold_size', 'median_age', 'state', 'race', 'total_population', 'state_code', 'female_population'])['fields'].apply(','.json).reset_index()


#with open('us-cities-demographics.json') as demographics_data_file:    
    #demographics_data= json.load(demographics_data_file)  

#us_demographics = pd.json_normalize(demographics_data, 'fields', ['count', 'city', 'number_of_veterans', 'male_population', 'foreign_born', 'average_houehold_size', 'median_age', 'state', 'race', 'total_population', 'state_code', 'female_population'], 
                  #  record_prefix='fields_')
#us_demographics.shape
#us_demographics.sample(3)
#print(us_demographics)

In [6]:
df.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,6.0,2016.0,4.0,692.0,692.0,XXX,20573.0,NaN,NaN,NaN,...,U,NaN,1979.0,10282016,NaN,NaN,NaN,1.897628e+09,NaN,B2
1,7.0,2016.0,4.0,254.0,276.0,ATL,20551.0,1.0,AL,NaN,...,Y,NaN,1991.0,D/S,M,NaN,NaN,3.736796e+09,00296,F1
2,15.0,2016.0,4.0,101.0,101.0,WAS,20545.0,1.0,MI,20691.0,...,NaN,M,1961.0,09302016,M,NaN,OS,6.666432e+08,93,B2
3,16.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,1988.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2
4,17.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,2012.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2

In [44]:
	
from pyspark.sql import SparkSession
spark = SparkSession.builder.\
config("spark.jars.packages","saurfang:spark-sas7bdat:2.0.0-s_2.11")\
.enableHiveSupport().getOrCreate()
df_spark =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

In [48]:
#write to parquet
df_spark.write.parquet("sas_data")
df_spark=spark.read.parquet("sas_data")
print(df_spark)

DataFrame[cicid: double, i94yr: double, i94mon: double, i94cit: double, i94res: double, i94port: string, arrdate: double, i94mode: double, i94addr: string, depdate: double, i94bir: double, i94visa: double, count: double, dtadfile: string, visapost: string, occup: string, entdepa: string, entdepd: string, entdepu: string, matflag: string, biryear: double, dtaddto: string, gender: string, insnum: string, airline: string, admnum: double, fltno: string, visatype: string]

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

In [ ]:
# Performing cleaning tasks here

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [ ]:
# Write code here

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.