In [3]:
import pandas as pd
import numpy as np
import matplotlib as mb
import seaborn as sn
from pandas.compat import StringIO

In [ ]:
Covid-19 has had a huge impact on the world,  every person individually and espeically the transportation industry. Transportation is key to everyday living,  seeing loved ones and exploring the world.

In [17]:
airports = pd.read_csv('airports.csv')
airports.sample(3)

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
26544,337041,IT-0573,heliport,Eliporto S.G.Rotondo,41.693749,15.710771,1801.0,EU,IT,IT-75,San Giovanni Rotondo,no,NaN,NaN,NaN,https://alidaunia.it/helipad-posts/san-giovann...,https://www.google.it/maps/place/Elisuperficie...,NaN
42347,3809,RK25,small_airport,Tongjin Airfield (G-107),37.715263,126.560110,45.0,AS,KR,KR-41,Wolgot-myeon,no,NaN,NaN,RK25,NaN,NaN,"RK25, G 107, G-107, Tongjin, Wolgot"
15377,28361,CEW8,seaplane_base,Paulatuk Seaplane Base,69.349998,-124.067001,NaN,NaN,CA,CA-NT,NaN,no,CEW8,NaN,CEW8,NaN,NaN,NaN

In [22]:
#airports.duplicates().sum()
len(airports)-len(airports.drop_duplicates())
#https://stackoverflow.com/questions/35584085/how-to-count-duplicate-rows-in-pandas-dataframe

0

In [23]:
print(airports.shape)
airports.isnull().sum()

(59044, 18)

id                       0
ident                    0
type                     0
name                     0
latitude_deg             0
longitude_deg            0
elevation_ft          8672
continent            29227
iso_country            246
iso_region               0
municipality          5875
scheduled_service        0
gps_code             17209
iata_code            49808
local_code           28306
home_link            55862
wikipedia_link       48916
keywords             48113
dtype: int64

In [1]:
#airport_freq = pd.read_csv('airport-frequencies.csv')
#airport_freq.sample(3)

In [105]:
#airport_runway = pd.read_csv('runways.csv')
#airport_runway.sample(3)
#airport_runway.shape

In [106]:
#airports.shape

In [107]:
#print(len(airport_runway)-len(airport_runway.drop_duplicates()))
#print(airport_runway.shape)
#airport_runway.isnull().sum()

In [5]:
#airport_freq.shape

In [6]:
#airport_navaids = pd.read_csv('navaids.csv')
#print(airport_navaids.shape)
#airport_navaids.sample(3)

In [157]:
airport_countries = pd.read_csv('countries.csv')
airport_countries.shape
airport_countries.sample(3)

,id,code,name,continent,wikipedia_link,keywords
202,302800,SR,Suriname,SA,https://en.wikipedia.org/wiki/Suriname,NaN
174,302657,PK,Pakistan,AS,https://en.wikipedia.org/wiki/Pakistan,پاکستان کے ہوائی اڈوں
44,302565,CM,Cameroon,AF,https://en.wikipedia.org/wiki/Cameroon,NaN

In [28]:
print(len(airport_countries)-len(airport_countries.drop_duplicates()))
print(airport_countries.shape)
airport_countries.isnull().sum()

0
(247, 6)

id                  0
code                1
name                0
continent          41
wikipedia_link      0
keywords          155
dtype: int64

In [7]:
#airport_regions = pd.read_csv('regions.csv')
#airport_regions.shape
#airport_regions.sample(3)

In [8]:
#airport_safety = pd.read_csv('airline-safety_csv.csv')
#airport_safety.shape
#airport_safety.sample(3)

In [68]:
#after testing replace StringIO(temp) to filename
#df = pd.read_csv('airlines.dat', sep=r'\s{2,}', engine='python')

In [168]:
airlines = pd.read_csv('airlines.dat', sep=',')
airlines.head(3)

   -1         Unknown  \N    -  N/A     \N.1           \N.2  Y
0   1  Private flight  \N    -  NaN      NaN            NaN  Y
1   2     135 Airways  \N  NaN  GNL  GENERAL  United States  N
2   3   1Time Airline  \N   1T  RNX  NEXTIME   South Africa  Y

In [169]:
#removes first row
airlines = airlines.iloc[1:]

In [170]:
#deleting first column - since it's just counting the rows
airlines = airlines.drop('-1',1)

In [171]:
#removing 3rd Column becuase it is a back comment
airlines = airlines.drop(airlines.columns[2], axis=1)

In [172]:
#Renaming Column Headeres
airlines.columns = ['Airline', 'IATA', 'Icao Code', 'Callsign', 'Country', 'Active']

In [173]:
airlines.head(3)

,Airline,IATA,Icao Code,Callsign,Country,Active
1,135 Airways,\N,GNL,GENERAL,United States,N
2,1Time Airline,\N,RNX,NEXTIME,South Africa,Y
3,2 Sqn No 1 Elementary Flying Training School,\N,WYT,NaN,United Kingdom,N

In [174]:
airlines['Icao Code'].replace({'\\N': None},inplace =True)
airlines['IATA'].replace({'\\N': None},inplace =True)

In [152]:
airlines['IATA'].replace({None: airlines['Icao Code'].astype(str).str[0:2]}, inplace=True)

1                        None
2                        None
3                        None
4                        None
5                        None
6                        None
7                        None
8                        None
9                        None
10                       None
11                       None
12                       None
13                       None
14                       None
15                       None
16                       None
17                       None
18                       None
19                       None
20                       None
21                       None
22                       None
23                       None
24                       None
25                       None
26                       None
27                       None
28                       None
29                       None
30                       None
                ...
6131               Fly France
6132                      NaN
6133               Europe Jet
6134                   COBALT
6135          Sun Air Express
6136                      NaN
6137                      NaN
6138                      NaN
6139              World Scale
6140           All America US
6141                 8AEF RAF
6142                      NaN
6143                      NaN
6144                BudgetAir
6145                      NaN
6146                  Fly One
6147                      NaN
6148                      NaN
6149                      NaN
6150                      NaN
6151    Charter Air Transport
6152         All America BOPY
6153                      NaN
6154                      NaN
6155                      TDA
6156                      NaN
6157                      NaN
6158                      NaN
6159                      NaN
6160        Russian Commuter
Name: IATA, Length: 6160, dtype: object

In [ ]:
df.loc[df['foo'].isnull(),'foo'] = df['bar']

In [35]:
airlines.shape

(6160, 6)

In [60]:
print(len(airlines)-len(airlines.drop_duplicates()))
print(airlines.shape)
airlines.isnull().sum()

1
(6160, 6)

Airline        0
IATA         506
Icao Code    273
Callsign     807
Country       14
Active         0
dtype: int64

In [37]:
airports_full = pd.read_csv('Airports2.csv')
airports_full.shape

(3606803, 15)

In [153]:
airports_full.sample(3)
# Airports and places info and amount of passengers
# Need Info about Airport - Name

,Origin_airport,Destination_airport,Origin_city,Destination_city,Passengers,Seats,Flights,Distance,Fly_date,Origin_population,Destination_population,Org_airport_lat,Org_airport_long,Dest_airport_lat,Dest_airport_long
3584904,DTW,PBI,"Detroit, MI","West Palm Beach, FL",768,900,9,1087,1995-07-01,8837982,4456964,42.212399,-83.353401,26.683201,-80.095596
54646,MCO,MIA,"Orlando, FL","Miami, FL",952,4526,31,193,1992-01-01,1303224,8451688,28.429399,-81.308998,25.793200,-80.290604
3117561,MIA,MSP,"Miami, FL","Minneapolis, MN",3212,4440,30,1501,2005-08-01,10886318,3132772,25.793200,-80.290604,44.882000,-93.221802

In [53]:
print(len(airports_full)-len(airports_full.drop_duplicates()))
print(airports_full.shape)
airports_full.isnull().sum()

0
(3565050, 15)

Origin_airport               0
Destination_airport          0
Origin_city                  0
Destination_city             0
Passengers                   0
Seats                        0
Flights                      0
Distance                     0
Fly_date                     0
Origin_population            0
Destination_population       0
Org_airport_lat           6584
Org_airport_long          6584
Dest_airport_lat          6495
Dest_airport_long         6495
dtype: int64

In [52]:
airports_full=airports_full.drop_duplicates()

In [9]:
#airports_dafif = pd.read_csv('airports.dat', sep=',')
#airports_dafif.sample(3)

In [10]:
#airports_dafif.shape

In [40]:
planes = pd.read_csv('planes.dat', sep = ',')

In [41]:
planes.sample(3)

                        Aerospatiale (Nord) 262  ND2  N262
221                               Pilatus PC-12  PL2  PC12
48                                      BAe 146  146    \N
195  Gulfstream/Rockwell (Aero) Turbo Commander  ACT  AC90

In [42]:
planes.shape

(245, 3)

In [43]:
print(len(planes)-len(planes.drop_duplicates()))
print(planes.shape)
planes.isnull().sum()

0
(245, 3)

Aerospatiale (Nord) 262    0
ND2                        0
N262                       0
dtype: int64

In [85]:
#routes = pd.read_csv('routes.dat', sep=',')

In [11]:
#routes.sample(3)

In [12]:
#routes.shape

In [88]:
#countries = pd.read_csv('countries.dat', sep=',')

In [13]:
#countries.sample(3)

In [91]:
#flights_kaggle = pd.read_csv('flights-kaggle.csv')

In [14]:
#flights_kaggle.shape

In [15]:
#flights_kaggle.sample(3)

In [16]:
#airports_kaggle = pd.read_csv('airports-kaggle.csv')
#airports_kaggle.shape

In [95]:
airports_kaggle.sample(3)

     airport_id        city state                               name
81        11278  Washington    DC  Ronald Reagan Washington National
235       14570        Reno    NV           Reno/Tahoe International
124       10268    Waterloo    IA                  Waterloo Regional

In [25]:
#import io

#pd.read_csv(io.StringIO('Airline Codes.txt'), delimiter='\t',header=None)

In [86]:
import sys
import pandas as pd
#https://www.census.gov/foreign-trade/reference/codes/aircarrier/acname.txt

Ariline_codes = pd.read_csv('Airline Codes.txt', sep='\t', engine='python', names=["Carrier Name", "IATA", "ICAO"])
Ariline_codes.sample(3)
#https://stackoverflow.com/questions/18039057/python-pandas-error-tokenizing-data
#https://stackoverflow.com/questions/21546739/load-data-from-txt-with-pandas
#data = pd.read_csv('file1.csv', error_bad_lines=False)

                                          Carrier Name  IATA  ICAO
367            GB Airways Ltd.                     ...   NaN   NaN
25             Aerocaribbean S.A.                  ...   NaN   NaN
809            Voyager Airlines Ltd                ...   NaN   NaN

In [87]:
#dff["ICAO"]=dff["Carrier Name"].str[-3:]
Ariline_codes['ICAO'] = Ariline_codes['Carrier Name'].str.strip().str[-3:]

In [89]:
#dff["Carrier Name"] = dff["Carrier Name"].str[:-2]
Ariline_codes = Ariline_codes.iloc[1:]

In [90]:
Ariline_codes["IATA"]=Ariline_codes["Carrier Name"].str[-23:-10]

In [91]:
Ariline_codes["IATA"]=Ariline_codes["IATA"].str.replace(' ','')
#https://stackoverflow.com/questions/41476150/removing-space-from-dataframe-columns-in-pandas

In [92]:
Ariline_codes["Carrier Name"]=Ariline_codes["Carrier Name"].str[:-24]

In [101]:
Ariline_codes["Carrier Name"]=Ariline_codes["Carrier Name"].str.lstrip()

In [102]:
Ariline_codes.head(3)

                              Carrier Name IATA ICAO
1  40-Mile Air, Ltd.                         Q5  MLA
2  ABC Aerolineas S.A. de C.V.               4O  AIJ
3  ABSA  -  Aerolinhas Brasileiras S.A.      M3  TUS

In [113]:
Ariline_codes.loc[Ariline_codes['IATA'] == 'JG']

Empty DataFrame
Columns: [Carrier Name, IATA, ICAO]
Index: []

In [114]:
Ariline_codes.shape

(836, 3)

In [76]:
print(len(Ariline_codes)-len(Ariline_codes.drop_duplicates()))
print(Ariline_codes.shape)
Ariline_codes.isnull().sum()

0
(837, 3)

Carrier Name    0
IATA            0
ICAO            0
dtype: int64

In [63]:
Air_Carrier_Time=pd.read_csv('2020 Airport Data.csv')

In [64]:
Air_Carrier_Time.sample(3)

,PASSENGERS,FREIGHT,MAIL,DISTANCE,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,...,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_WAC,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS,Unnamed: 36
64390,892.0,0.0,0.0,461.0,MQ,20398,Envoy Air,06820,D,MQ,...,NY,36,New York,22,2020,1,3,1,F,NaN
57711,445.0,0.0,0.0,583.0,G4,20368,Allegiant Air,06035,D,G4,...,NJ,34,New Jersey,21,2020,2,6,2,F,NaN
84539,3461.0,1.0,0.0,1652.0,AA,19805,American Airlines Inc.,0A050,D,AA,...,CA,6,California,91,2020,1,3,4,F,NaN

In [68]:
#dropping Last Column Since It Is not Important and contains only NULL values
Air_Carrier_Time = Air_Carrier_Time.drop(Air_Carrier_Time.columns[-1], axis=1)

In [69]:
print(len(Air_Carrier_Time)-len(Air_Carrier_Time.drop_duplicates()))
print(Air_Carrier_Time.shape)
Air_Carrier_Time.isnull().sum()

0
(98962, 36)

PASSENGERS               0
FREIGHT                  0
MAIL                     0
DISTANCE                 0
UNIQUE_CARRIER           0
AIRLINE_ID               0
UNIQUE_CARRIER_NAME      0
UNIQUE_CARRIER_ENTITY    0
REGION                   0
CARRIER                  0
CARRIER_NAME             0
CARRIER_GROUP            0
CARRIER_GROUP_NEW        0
ORIGIN_AIRPORT_ID        0
ORIGIN_AIRPORT_SEQ_ID    0
ORIGIN_CITY_MARKET_ID    0
ORIGIN                   0
ORIGIN_CITY_NAME         0
ORIGIN_STATE_ABR         0
ORIGIN_STATE_FIPS        0
ORIGIN_STATE_NM          0
ORIGIN_WAC               0
DEST_AIRPORT_ID          0
DEST_AIRPORT_SEQ_ID      0
DEST_CITY_MARKET_ID      0
DEST                     0
DEST_CITY_NAME           0
DEST_STATE_ABR           0
DEST_STATE_FIPS          0
DEST_STATE_NM            0
DEST_WAC                 0
YEAR                     0
QUARTER                  0
MONTH                    0
DISTANCE_GROUP           0
CLASS                    0
dtype: int64

In [ ]:
#https://www.transtats.bts.gov/DL_SelectFields.asp

In [ ]:
df.to_csv('s3://experimental/playground/temp_csv/dummy.csv', index=False)

In [ ]:
Tables:
    Fact: Airport Information - Airport Name,State,City, CountryIATA,
        Dimension: Airlines - Airline Name, IATA, ICAO, Country, Active
                   Airport_Description - Airport Name, Airport Abbreviation, Latitude, Longitue, City, State, Country, Airport_Type, iso_country, iso_region, eleveation
                   Airport_Flights_2020 - Airport Name Dest, Airport Name Arr, IATA, Airline Name, Num Passengers, Year, Month
                   Population - Airport Name, Population
                   Past Flights - Airport Name Deset, Airport Name Arr, Date, Passengers, Seats, Distance

In [ ]:
# Writing to S3
writing_tables_to_S3 = [airports_with_description_toS3, airport_countries_toS3, airlines_and_countries_toS3, airports_past_flights_toS3, flights_2020_toS3, airline_codes_toS3]
copy_tables_from_S3toRedshift = [airports_with_description_copying, airport_countries_copying, airlines_and_countries_copying, airports_past_flights_copying, ariline_codes_copying, flights_2020_copying]

creating_tables = [airports_creating_table, airlines_creating_table, airport_description_creating_table, airport_flights_2020_creating_table, population_creating_table, past_flights_creating_table,airports_with_description_creating_table,airport_countries_creating_table,airlines_and_countries_creating_table,airports_past_flights_creating_table,ariline_codes_table,flights_2020_creating_table]
dropping_tables_if_exist = [airports_drop_table, airlines_drop_table, airport_description_drop_table, airport_flights_2020_drop_table, population_drop_table, past_flights_drop_table, airports_with_description_drop_table,airport_countries_drop_table,airlines_and_countries_drop_table,airports_past_flights_drop_table,ariline_codes_drop_table,flights_2020_drop_table]
insert_data_in_tables = [airports_insert_table, airlines_insert_table, airport_description_insert_table, airport_flights_2020_insert_table, population_insert_table, past_flights_insert_table]

In [ ]:
airports, airlines, airport_description, airport_flights_2020,population, past_flights

In [156]:
airports_drop_table = "DROP TABLE IF EXISTS airports;"
airlines_drop_table = "DROP TABLE IF EXISTS airlines;"
airport_description_drop_table = "DROP TABLE IF EXISTS airport_description;"
airport_flights_2020_drop_table = "DROP TABLE IF EXISTS airport_flights_2020;"
population_drop_table = "DROP TABLE IF EXISTS population;"
past_flights_drop_table = "DROP TABLE IF EXISTS past_flights;"
airports_with_description_drop_table = "DROP TABLE IF EXISTS airports_with_description;"
airport_countries_drop_table = "DROP TABLE IF EXISTS airport_countries;"
airlines_and_countries_drop_table = "DROP TABLE IF EXISTS airlines_and_countries;"
airports_past_flights_drop_table = "DROP TABLE IF EXISTS airports_past_flights;"
ariline_codes_drop_table = "DROP TABLE IF EXISTS ariline_codes;"
flights_2020_drop_table = "DROP TABLE IF EXISTS flights_2020;"

In [ ]:
airports_creating_table = ("""CREATE TABLE IF NOT EXISTS airports(airport_name varchar, state varchar, city varchar, country varchar, IATA varchar""")
airlines_creating_table = ("""CREATE TABLE IF NOT EXISTS airlines(IATA varchar PRIMARY KEY, airline_name varchar, , ICAO varchar, Country varchar, Active varchar)""")
airport_description_creating_table = ("""CREATE TABLE IF NOT EXISTS airport_description(airport_name varchar PRIMARY KEY, airport_abbreviation varchar, latitude float, longitude float, city varchar, state varchar, country varchar, airport_type varchar, iso_country varchar, iso_region varchar, elevation varchar)""")
airport_flights_2020_creating_table = ("""CREATE TABLE IF NOT EXISTS airport_flights_2020(airline_name varchar PRIMARY KEY, airport_name_dest varchar, airport_name_arr varchar, IATA varchar, num_passengers int, year int, month int)""")
population_creating_table = ("""CREATE TABLE IF NOT EXISTS population(airport_name varchar PRIMARY KEY, population int)""")
past_flights_creating_table = ("""CREATE TABLE IF NOT EXISTS past_flights(airport_name_dest varchar PRIMARY KEY, airport_name_arr varchar,date date, passengers int, seats int, distance int)""")
airports_with_description_creating_table = ("""CREATE TABLE IF NOT EXISTS airports_with_description(id int, ident varchar, type varchar, name varchar, letitude_deg float, longitude_deg float, elevation_ft float, continent varchar, iso_country varchar, iso_region varchar, municipality varchar, scheduled_service varchar, gps_code varchar, iata_code varchar, local_code varchar, home_link varchar, wikipedia_link, keywords varchar)""")
airport_countries_creating_table = ("""CREATE TABLE IF NOT EXISTS airport_countries(id int, code varchar, name varchar, continent varchar, wikipedia_link varchar, keywords varchar)""")
airlines_and_countries_creating_table = ("""CREATE TABLE IF NOT EXISTS airlines_and_countries(Airline varchar, IATA varchar, Icao_Code varchar, Callsign varchar, Country varchar, active varchar)""")
airports_past_flights_creating_table = ("""CREATE TABLE IF NOT EXISTS airports_past_flights(Origin_airport varchar, Destination_airport varchar, Origin_city varchar, Destination_city varchar, Passengers int, Seats int, Flights int, Distance int, Fly_date date, Origin_population int, Destination_population int, org_airport_lat float, Org_airport_long float, Dest_airport_lat float, Dest_airport_long float)""")
ariline_codes_table = ("""CREATE TABLE IF NOT EXISTS ariline_codes(Carrier_Name varchar, IATA varchar, ICAO varchar)""")
flights_2020_creating_table = ("""CREATE TABLE IF NOT EXISTS flights_2020(Passengers int, Freight int, Mail int, Distance int, Unique_Carrier varchar, Airline_ID int, Unique_Carrier_Name varchar, Unique_Carrier_Entity int, Region varchar, Carrier varchar, Carrier_name varchar, Carrier_group varchar, Carrier_group_new varchar,Origin_airport_id int, origin_airport_seq_id int, Origin_city_market_id int, origin varchar, Origin_city_name varchar, Origin_state_abr varchar, origin_state_fips varchar, Origin_state_nm varchar, Origin_wac varchar, Dest_airport_id int, Dest_airport_seq_id int, dest_city_market_id int, Dest varchar, Dest_city_name varchar, Dest_state_abr varchar, Dest_state_fips varchar, Dest_state_nm varchar, Dest_wac varchar, Year int, Quarter int, Month int, Distance_group int, Class varchar)""")

In [179]:
print(Air_Carrier_Time.columns)
Air_Carrier_Time.sample(2)
#airport_countries
#airlines
#airports_full
#Ariline_codes
#Air_Carrier_Time

Index(['PASSENGERS', 'FREIGHT', 'MAIL', 'DISTANCE', 'UNIQUE_CARRIER',
       'AIRLINE_ID', 'UNIQUE_CARRIER_NAME', 'UNIQUE_CARRIER_ENTITY', 'REGION',
       'CARRIER', 'CARRIER_NAME', 'CARRIER_GROUP', 'CARRIER_GROUP_NEW',
       'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID', 'ORIGIN_CITY_MARKET_ID',
       'ORIGIN', 'ORIGIN_CITY_NAME', 'ORIGIN_STATE_ABR', 'ORIGIN_STATE_FIPS',
       'ORIGIN_STATE_NM', 'ORIGIN_WAC', 'DEST_AIRPORT_ID',
       'DEST_AIRPORT_SEQ_ID', 'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME',
       'DEST_STATE_ABR', 'DEST_STATE_FIPS', 'DEST_STATE_NM', 'DEST_WAC',
       'YEAR', 'QUARTER', 'MONTH', 'DISTANCE_GROUP', 'CLASS'],
      dtype='object')

,PASSENGERS,FREIGHT,MAIL,DISTANCE,UNIQUE_CARRIER,AIRLINE_ID,UNIQUE_CARRIER_NAME,UNIQUE_CARRIER_ENTITY,REGION,CARRIER,...,DEST_CITY_NAME,DEST_STATE_ABR,DEST_STATE_FIPS,DEST_STATE_NM,DEST_WAC,YEAR,QUARTER,MONTH,DISTANCE_GROUP,CLASS
88377,4603.0,2104.0,0.0,479.0,QX,19687,Horizon Air,06580,D,QX,...,"Sacramento, CA",CA,6,California,91,2020,1,1,1,F
37596,37.0,0.0,0.0,912.0,WN,19393,Southwest Airlines Co.,06725,D,WN,...,"Little Rock, AR",AR,5,Arkansas,71,2020,1,3,2,F

In [ ]:
airports_with_description_toS3 = airports_with_description.to_csv('s3://airlinedata-udaicty-capstone/airports/airports_with_description.csv', index=False)
airport_countries_toS3 = airport_countries.to_csv('s3://airlinedata-udaicty-capstone/airports/airport_countries.csv', index=False)
airlines_and_countries_toS3 = airlines_and_countries.to_csv('s3://airlinedata-udaicty-capstone/airlines/airlines_and_countries.csv', index=False)
airports_past_flights_toS3 = airports_past_flights.to_csv('s3://airlinedata-udaicty-capstone/flights/airports_past_flights.csv', index=False)
ariline_codes_toS3 = ariline_codes.to_csv('s3://airlinedata-udaicty-capstone/arilines/ariline_codes.csv', index=False)
flights_2020_toS3 = flights_2020.to_csv('s3://airlinedata-udaicty-capstone/flights/flights_2020.csv', index=False)

In [ ]:
airports_with_description, airport_countries, airlines_and_countries, airports_past_flights, ariline_codes, flights_2020

In [ ]:
airports_with_description_copying = ("""copy airports_with_description from {}
iam_role {}
compupdate off
Csv NOLOAD;
""").format(config['S3']['airports_with_description_data'], config['IAM_ROLE']['ARN'])
airport_countries_copying = ("""copy airport_countries from {}
iam_role {}
compupdate off
Csv NOLOAD;
""").format(config['S3']['airport_countries_data'], config['IAM_ROLE']['ARN'])
airlines_and_countries_copying = ("""copy airlines_and_countries from {}
iam_role {}
compupdate off
Csv NOLOAD;
""").format(config['S3']['airlines_and_countries_data'], config['IAM_ROLE']['ARN'])
airports_past_flights_copying = ("""copy airports_past_flights from {}
iam_role {}
compupdate off
Csv NOLOAD;
""").format(config['S3']['airports_past_flights_data'], config['IAM_ROLE']['ARN'])
ariline_codes_copying = ("""copy ariline_codes from {}
iam_role {}
compupdate off
Csv NOLOAD;
""").format(config['S3']['aariline_codes_data'], config['IAM_ROLE']['ARN'])
flights_2020_copying = ("""copy flights_2020 from {}
iam_role {}
compupdate off
Csv NOLOAD;
""").format(config['S3']['flights_2020_data'], config['IAM_ROLE']['ARN'])

In [ ]:
airports_with_description_data='s3://airlinedata-udaicty-capstone/airports/airports_with_description.csv'
airport_countries_data='s3://airlinedata-udaicty-capstone/airports/airport_countries.csv'
airlines_and_countries_data='s3://airlinedata-udaicty-capstone/airlines/airlines_and_countries.csv'
airports_past_flights_data ='s3://airlinedata-udaicty-capstone/flights/airports_past_flights.csv'
aariline_codes_data = 's3://airlinedata-udaicty-capstone/arilines/ariline_codes.csv'
flights_2020_data = 's3://airlinedata-udaicty-capstone/flights/flights_2020.csv'